{:paths ["src"]
 :deps
 {
  aleph/aleph {:mvn/version "0.4.6"}
  better-cond/better-cond {:mvn/version "2.1.4"}
  bidi/bidi {:mvn/version "2.1.6"}
  buddy/buddy-sign {:mvn/version "3.4.333"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
  clj-commons/clj-yaml {:mvn/version "0.7.107"}
  clj-pid/clj-pid {:mvn/version "0.1.2"}
  com.cemerick/url {:mvn/version "0.1.1"}
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
  com.taoensso/timbre {:mvn/version "5.1.2" }
  compojure/compojure {:mvn/version "1.6.2"}
  funcool/cuerdas {:mvn/version "2022.01.14-391"}
  hikari-cp/hikari-cp {:mvn/version "2.13.0"}
  honeysql/honeysql {:mvn/version "1.0.461"}
  io.dropwizard.metrics/metrics-healthchecks {:mvn/version "4.2.7"}
  logbug/logbug {:mvn/version "5.0.0"}
  me.raynes/conch {:mvn/version "0.8.0"}
  nilenso/honeysql-postgres {:mvn/version "0.4.112"}
  nrepl/nrepl {:mvn/version "0.9.0"}
  org.clojure/core.memoize {:mvn/version "1.0.253"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  org.clojure/java.jdbc {:mvn/version "0.7.12"}
  org.clojure/tools.cli {:mvn/version "1.0.206"}
  org.clojure/tools.logging {:mvn/version "1.2.4"}
  org.clojure/tools.namespace {:mvn/version "1.2.0"}
  pandect/pandect {:mvn/version "1.0.2"}
  pg-types/pg-types {:mvn/version  "3.0.0"}
  ring-middleware-accept/ring-middleware-accept {:mvn/version "2.0.3"}
  ring/ring {:mvn/version "1.9.5"}
  spootnik/signal {:mvn/version "0.2.4"}
  thinktopic/wharf {:mvn/version "0.2.0"}
  }
 :aliases
 {
  :nREPL {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}}}
  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.3.1"} }
             :main-opts ["-m" "antq.core"]}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.0" :git/sha "b3fd0d2"
                       }}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
